<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-circle" />
			<h3>
				h3. Lorem ipsum dolor sit amet.
			</h3>
		</div>
		<div class="col-md-9">
			<h3>
				h3. Lorem ipsum dolor sit amet.
			</h3>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>
							Score
						</th>
						<th>
							Holes
						</th>
						<th>
							Differential
						</th>
						<th>
							Course
						</th>
						<th>
							Tee
						</th>

					</tr>
				</thead>
				<tbody>
					{{#each model.rounds as |round|}}
                        <tr>
                        	<td>
                        		{{round.score}}
                        	</td>
                        	<td>
                                                    		{{round.holes}}
                                                    	</td>
                                                    	<td>
                                                                                		{{round.differential}}
                                                                                	</td>
                                                                                	<td>
                                                                                                                                    		{{round.course.name}}
                                                                                                                                    	</td>
<td>
                                                                        		{{round.tee.name}}
                                                                        	</td>
                        </tr>

                    {{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>
